---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../components/icons/LinkedInIcon.astro";
import SocialPill from "../components/icons/SocialPill.astro";
import GithubIcon from "../components/icons/GithubIcon.astro";
import MailIcon from "../components/icons/MailIcon.astro";
import CodeIcon from "../components/icons/CodeIcon.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Projects from "../components/Projects.astro";
---

<Layout
	title="Portfolio - Ally Lainez - Desarrollador Web Junior"
	description="Estudiante de la carrera de ingenieria en sistemas"
>
	<main class="px-4">
		<SectionContainer class="py-44 pb-44">
			<img
				class="rounded-full size-8 lg:size-12 mb-2"
				src="/projects/profileImage.webp"
				alt="photo"
			/>
			<h1
				class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
			>
				Hola, Soy Ally <a
					href="https://www.linkedin.com/in/ally-lainez-6612a42b7"
					target="_blank"
					rel="noopener"
					class="flex justify-center items-center"
				>
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
				<span>Desarrollador Web</span>
				<span class="text-green-200/90">Pasante de la carrera de Ing. en Sistemas con m치s del 50% de la clases aprobadas, estoy en bu패squeda de mi primera experiencia laboral en el mundo de la programacio패n, con una gran pasio패n por el aprendizaje y la busqueda de soluciones.</span>
			</h2>
			<nav class="flex gap-2 mt-6 text-wrap">
				<SocialPill href="https://www.linkedin.com/in/ally-lainez">
					<LinkedInIcon class="size-4 md:size-6" />
					LinkeIn
				</SocialPill>
				<SocialPill href="https://www.linkedin.com/in/ally-lainez">
					<GithubIcon class="size-4 md:size-6" />
					Github
				</SocialPill>
				<SocialPill href="mailto:mariolainez123@gmail.com">
					<MailIcon class="size-4 md:size-6" />
					mariolainez123@gmail.com
				</SocialPill>
			</nav>
		</SectionContainer>

		<SectionContainer id="proyectos">
			<h2 class="text-3xl md:text-2xl lg:text-3xl font-semibold mb-6 gap-x-3 items-center flex">
					<CodeIcon class="size-8 md:size-8" /> Proyectos
				</h2>
			<Projects >
		</SectionContainer>
	</main>
</Layout>
